[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "*"
rel = "*"
python-dotenv = "*"
black = "*"
ln-markets = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.9"
